body{
    background-color: rgb(39, 69, 95);
    max-width: 600px;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{

    font-weight: 100;
    text-align: center;
    color: white;
    font-size: 60px;
}

#wrapper button:hover{
    background-color: lightgray;
    transition: 0.2s;
}

#btnrestart{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size:20px;
    margin-left: 4rem;
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

div{
    text-align: center;
}

#wrapper{
    margin-top: 14rem;
    width: 300px;
  
}

#wrapper button{
    height: 95px;
    width: 95px;
    margin-bottom: 5px;
    font-size: 30px
}

#lblmessage{
    color: white;
    font-size: 16px;
    text-align: center;
}

img{
    margin: 0 0;
    width: 400px;
    margin-bottom: 1rem;
}

