body{
    background-color: rgb(39, 69, 95);
    max-width: 600px;
    margin: 0 auto;
}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
    font-size: 60px;
}

#wrapper button:hover{
    background-color: lightgray;
    transition: 0.2s;
}



div{
    text-align: center;
}

#wrapper{
    margin-top: 14rem;
    width: 300px;
  
}

#wrapper button{
    height: 95px;
    width: 95px;
    margin-bottom: 5px;
    font-size: 30px
}

#lblmessage{
    color: white;
    font-size: 16px;
    text-align: center;
}

img{
    margin: 0 0;
    width: 400px;
}

