body {
    background: linear-gradient(#e600ee, #515cda);
    height: 100%;
}

.about h3 {
    color: black;
}

.about {
    margin: 0;
    padding: 0;
    width: 20%;
    background: linear-gradient(#515cda, #e600ee);
    position: fixed;
    border-radius: 20%;
    overflow: auto;
    border: 2px solid black;
    color: white;
}

.sidebar p {
    display: block;
    padding: 16px;
    text-decoration: none;
}

.wrap h3{
    color: black;
    margin-bottom: 0;
}

.wrap p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.keyboardshoot{
    margin-bottom: 0.3rem;
}

.wrap{
    width: 20%;
    background: linear-gradient(#515cda, #e600ee);
    border-radius: 20%;
    overflow: auto;
    border: 2px solid black;
    color: white;
    float: right;
}
.keyboardarrows{
    width: 50%;
}

/*Login*/
.loginstart {
    background: linear-gradient(#515cda, #e600ee);
    border: 3px solid black;
    width: 30rem;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    padding-top: 20px;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    color: white;
}

.loginstart input{
    display: block;
    flex-flow: row nowrap;
    margin: 0 auto;
}
#inpusername, #inpavatar{
    border: 2px solid black;
}

#inpavatar{
    margin-bottom: 10px;
}

#character, #btnleft, #btnright{
    margin-bottom: 1rem;
}

.login{
    width: 0px;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    visibility: hidden;
}

#lblhelp{
    margin-top: 0px;
    color: #000000;
    font-size: 13px
}

#character1, #character2{
    display: inline-block;
}

.loginstart p, .login p{
    margin-bottom: 0px;
}

img{
    display: block;
    margin: 0 auto;
}

.choosecharacter{
    display: flex;
    flex: space-between;
    width: 20%;
    margin: 0 auto;
}

.btnlogin{
    padding: 0px 20px;
    color: white;
    background-color: #515cda;
    font-family: Bungee;
    border: 2px solid black;
    border-radius: 6%;
    display: block;
    margin: 0 auto;
}

/*Wrapper*/
.wrapper {
    text-align: center;
    font-family: Bungee;
}

.wrapper h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.canvas1 {
    width: 0px;
    border: 2px black solid;
    visibility: hidden;
    justify-content: center;
    border-radius: 5%;
    margin-bottom: 13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.gamestart {
    width: 830px;
    height: 625px;
    border: 2px black solid;
    justify-content: center;
    border-radius: 5%;
    background-image: url(../img/Tileset.png);
    margin-bottom: 13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.gameover {
    background-image: url(../img/gameover.png);
    filter: grayscale(80%);
}

/*Options*/
.options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
}

.options button {
    margin-right: 5px;
    margin-top: 5px;
    color: black;
    font-family: Bungee;
    border: 2px solid black;
}

.current {
    background-color: gray;
}

/*Start game*/
.btnstart {
    display: flex;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
    font-size: 20px;
    margin: 0 auto;
    background-color: #6e6e6e;
    color: white;
    font-family: Bungee;
    border: 2px solid black;
    border-radius: 6%;
}

#character{
    margin-left: 10px;
    margin-right: 10px;
}

.thumbs{
  display: none;
}

.btncharacter{
    background-color: #515cda;
    border: 2px solid black;
    border-radius:10%;
}

.btncharacter:hover{
    background-color: #e600ee;
    transition: 0.3s;
}

.btnplay {
    display: flex;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    margin: 0 auto;
    background-color: #515cda;
    color: white;
    font-family: Bungee;
    border: 2px solid black;
    border-radius: 6%;

}

.btnplay:hover, .btnloginactivated:hover{
    transition: 0.3s;
    background-color: #e600ee;
}


.btnstart:hover, .btnlogin:hover {
    transition: 0.3s;
    background-color: #000000;
}


.options button:hover {
    color: white;
    transition: 0.3s;
    background-color: #515cda;
}

/*Sound*/
#sldsize {
    overflow: hidden;
    width: 30%;
}

.slidecontainer {
    display: flex;
    justify-content: center;

}

/*Timer*/
#countdown {
    font-family: bungee;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 2px;
}