
body{
    background: linear-gradient(#e600ee, #515cda);
    height: 100%;
}

.about h3{
    color: black;
}

.about{
    margin: 0;
    padding: 0;
    width: 20%;
    background: linear-gradient(#515cda, #e600ee);
    position: fixed;
    border-radius:20%;
    overflow: auto;
    border: 2px solid black;
    color: white;
}
.sidebar p{
    display: block;
    padding: 16px;
    text-decoration: none;
}

/*Wrapper*/
.wrapper{
    text-align: center;
    font-family: Bungee;
}

.wrapper h1{
    font-size: 30px;
}

#canvas1{
    width: 1000px;
    height: 625px;
    border: 1px black solid;
    background: #d79c50;
    justify-content: center;
    border-radius: 5%;
    background-image: url(../img/test.png);
    
}
/*Options*/
.options{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
    padding: 10px;
}
.options button{
    margin-right: 5px;
    
    color: black;
    font-family: Bungee;
    border: 2px solid black;
}

.current{
    background-color: gray;
}

/*Start game*/
#btnplay{
    display: flex;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    font-size:20px;
    margin-top: 30px;
    margin: 0 auto;
    background-color: #515cda;
    color: white;
    font-family: Bungee;
    border: 2px solid black;
    border-radius: 6%;
   
}

#btnplay:hover{
    color: white;
    transition: 0.3s;
    background-color: #e600ee;
}

.options button:hover{
    color: white;
    transition: 0.3s;
    background-color: #515cda;
}

/*Sound*/
#sldsize{
    overflow: hidden;
    width: 30%;
}

.slidecontainer{
    display: flex;
    justify-content: center;
    
}

/*Timer*/
#countdown{
    font-family: bungee;
    font-size: 18px;
}
